.charts
  svg#foreigners-chart(width='1400', height='200')
  svg#welfare-chart(width='1400', height='200')
  svg#median-wealth-chart(width='1400', height='300')
  svg#average-wealth-chart(width='1400', height='300')
  svg#median-income-chart(width='1400', height='300')
  svg#average-income-chart(width='1400', height='300')
  svg#citizenship-chart(width='1400', height='800')
  svg#religion-chart(width='1400', height='800')
  svg#age-chart(width='1400', height='800')
