.hero
  #hero-scene.hero-scene
  .hero-text
    .grid-container.grid-container--1200
      .hero-heading
        h1
          div
            span Lorem Ipsum
          div
            span Dolor Sit Amet
      // .hero-body
      //   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed risus leo, efficitur sed dolor quis, tempor cursus mi.
      //   p Quisque porttitor nunc eget mi molestie laoreet. Nulla ultrices, massa at vulputate bibendum, elit ligula venenatis mi, ultricies aliquam leo nunc vitae justo.
