script(async src="https://www.googletagmanager.com/gtag/js?id=UA-74607125-4")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-74607125-4');
script(src='/vendor.js')
script(src='/app.js')
script.
  require('app')
