.footer
  .grid-container
    .items
      .item
        span &copy; Phyramid GmbH
        br
        span Südquaistrasse 14
        br
        span 4057 Basel
      .item
        a(href='/privacy-policy.html') Privacy Policy
