.chart
  max-width 100%

svg.chart, .chart svg
  display block
  max-width 100%
  margin 0 auto
  font-size 1.1rem
  font-weight 300
  text
    //fill black
    font-family Georgia, serif
    // font-weight 300
  svg
    overflow visible !important
  .legend
    text
      font-size 0.8rem
  .axis
    text
      font-size 0.8rem
  .axis-label
    font-size 0.8rem
    font-style italic
    fill #555

.stack-chart
  svg
    height 55rem

@media screen and (min-device-width: 360px) and (max-device-width: 667px)
  .chart svg.bar-chart
    height 65vh
  
  .stack-chart .tick text
    pointer-events none

.bar-chart
  .bar-group
    &.bar-group--hidden
      .bar
        cursor default
    .bar
      cursor pointer
      &.active
        fill #40d689

.range-chart
  .range-node
    text
      font-size 0.8rem
  .axis
    .tick
      text
        font-size 0.8rem

.map-chart
  display flex
  justify-content center
  align-items center
  svg
    height 30rem
    margin 0
    [data-name='rhein'] polygon
      fill rgba(0, 138, 195, 0.5)
  .legend
    height 20rem
    margin-left 4rem
    width 10rem
    @media (max-width: 1100px)
      margin-left 1rem
      width 12rem

  // @media screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)
  //   .legend
  //     margin-left 0
  //     width 8rem

  /* Mobile */
  @media screen and (min-device-width: 360px) and (max-device-width: 667px)
    svg
      height 20rem
    .legend
      margin-left 0
      width 7rem

/* Mobile */
@media screen and (min-device-width: 360px) and (max-device-width: 667px)
  #average-net-worth, #average-net-income
    .map-chart
      .map
        height 13rem