.extra-details
  text-align right

svg.chart, .chart svg
  display block
  max-width 100%
  margin 0 auto
  font-size 1.1rem
  font-weight 300
  text
    fill black
    font-family Georgia, serif
    // font-weight 300
  svg
    overflow visible !important
  .legend
    text
      font-size 0.8rem
  .axis
    text
      font-size 0.8rem

.charts
  padding 8rem 0
  .graph-tooltip
    position absolute
    padding 0.2rem 0.4rem
    margin-top -1.5rem
    background white
    pointer-events none
    transform translate(-50%)
    box-shadow 1px 1px 2px 0 rgba(0,0,0,0.2)
    opacity 0

  .chart-group
    margin-bottom 8rem
    .chart-group__description
      h2
        margin-bottom 1rem
    .chart-group__chart
      margin-top 4rem

  .bar-chart
    .bar-group
      &.bar-group--hidden
        .bar
          cursor default
      .bar
        cursor pointer
        &.active
          fill #40d689

  .range-chart
    .range-node
      text
        font-size 0.8rem
    .axis
      .tick
        text
          font-size 0.8rem

  .map-chart
    display flex
    justify-content center
    align-items center
    svg
      height 30rem
      margin 0
      [data-name='rhein'] polygon
        fill rgba(0, 138, 195, 0.5)
    .legend
      height 15rem
      margin-left 4rem
      width 5.5rem
