.hero
  position relative

  canvas
    display block

  .hero-scene
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 1
    // Sometimes the canvas will be wider than the actual screen because
    // the width is calculated before the scrollbar pops up. It's easiest
    // to just fix it here, even if it's a bit of a hack.
    overflow hidden

  .hero-cover
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index 2
    background rgba(255, 255, 255, 0.3)
    pointer-events none // Allow events to pass to scene underneath

  .hero-main
    display flex
    flex-direction column
    justify-content space-between
    min-height 100vh
    position relative
    z-index 3
    padding 6rem 0
    pointer-events none // Allow events to pass to scene underneath
    text-align center

    .hero-text
      h1
        margin 0
        margin-bottom 1rem
        font-size 5rem
        line-height 0
        @media (max-width: 1100px)
          font-size 3rem
        div
          span
            display inline-block
            margin-bottom 1rem
            padding 0.5rem 1.5rem 1.0rem 1.5rem
            line-height 1
            background color-dark-purple
            color white
      .hero-body
        margin 0 auto
        max-width 40rem
        text-shadow 0px 0px 2px white
        font-size 1.6rem
        p
          margin-top 2rem
          margin-bottom 0
          color color-dark-purple
        .hero-body__logo
          margin-top 2.2rem // Hmm... 0.2 extra?
          a
            display flex
            justify-content center
            align-items center
            border-bottom none
            pointer-events all
            font-size 1rem
            img
              width 128px
              height 32px
              margin-left 1rem

    .hero-footer
      margin-top 6rem

      .hero-footer__hint
        display flex
        justify-content center
        align-items center
        margin 0 auto
        img
          width 56px
          height 56px
