.profile
  margin-bottom 8rem

  .profile-header
    display flex
    align-items center
    justify-content center
    flex-direction column
    padding 6rem 0
    h2
      padding 0
      margin-bottom 1rem
    .profile-dropdown
      min-width 25rem
      font-size 1.5rem

  .profile-metrics
    .metric
      display flex
      margin-bottom 1rem
      .metric__name
        flex 1
      .metric__info
        flex 1
        p
          margin-bottom 0
