.profile
  display flex
  padding 8rem 0
  .profile-selector
    flex 1 0 50%
    padding-right 2rem
  .profile-profile
    flex 1 0 50%
    padding-left 2rem
    .datum
      display flex
      .datum__name
        flex 1
      .datum__info
        flex 1
