.profile
  display flex
  margin-bottom 8rem
  .profile-controls
    flex 1 0 calc(50% - 2rem)
    padding-right 2rem
    .profile-selector
      margin-bottom 2rem
    .profile-map
      dummy yes
  .profile-profile
    flex 1 0 calc(50% - 2rem)
    padding-left 2rem
    .metric
      display flex
      margin-bottom 1rem
      .metric__name
        flex 1
      .metric__info
        flex 1
        p
          margin-bottom 0
