extends /includes/layout

block meta
  +page-title('Home')
  +page-description('TODO')

block stylesheets
  link(rel='stylesheet' href='/stylesheets/compiled/home.css')

block content
  h2 Wohnbevölkerung nach Alter in Altstadt Grossbasel
  svg#test-graph-svg(width='1200', height='800')

block scripts
  script(src='/javascripts/build/home.js')
