extends /includes/layout

block meta
  +page-title('Home')
  +page-description('TODO')

block stylesheets
  link(rel='stylesheet' href='/stylesheets/compiled/home.css')

block content
  svg#test-graph-1(width='1400', height='400')
  svg#test-graph-2(width='1400', height='200')

block scripts
  script(src='/javascripts/build/home.js')
