extends /includes/layout

block meta
  +page-title('Home')
  +page-description('TODO')

block stylesheets
  link(rel='stylesheet' href='/stylesheets/compiled/home.css')

block content
  .hero-container
    #hero.hero
    .hero-text
      .grid-container.grid-container--1200
        .hero-heading
          h1
            div
              span Getting to
            div
              span Know Basel
        // .hero-body
        //   p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed risus leo, efficitur sed dolor quis, tempor cursus mi.
        //   p Quisque porttitor nunc eget mi molestie laoreet. Nulla ultrices, massa at vulputate bibendum, elit ligula venenatis mi, ultricies aliquam leo nunc vitae justo.
  svg#test-graph-1(width='1400', height='300')
  svg#test-graph-2(width='1400', height='200')
  svg#citizenship-chart(width='1400', height='800')
  svg#religion-chart(width='1400', height='800')
  svg#age-chart(width='1400', height='800')

block scripts
  script(src='/javascripts/build/home.js')
