@font-face {
  font-family: 'Questa';
  font-weight: 300;
  src: url("/fonts/questa/1-Questa_Light.woff") format('woff');
}
@font-face {
  font-family: 'Questa';
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/questa/1-Questa_Light_Italic.woff") format('woff');
}
@font-face {
  font-family: 'Questa';
  font-weight: 400;
  src: url("/fonts/questa/2-Questa_Regular.woff") format('woff');
}
@font-face {
  font-family: 'Questa';
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/questa/2-Questa_Regular_Italic.woff") format('woff');
}
@font-face {
  font-family: 'Questa';
  font-weight: 500;
  src: url("/fonts/questa/3-Questa_Medium.woff") format('woff');
}
@font-face {
  font-family: 'Questa';
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/questa/3-Questa_Medium_Italic.woff") format('woff');
}
@font-face {
  font-family: 'Questa';
  font-weight: 700;
  src: url("/fonts/questa/4-Questa_Bold.woff") format('woff');
}
@font-face {
  font-family: 'Questa';
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/questa/4-Questa_Bold_Italic.woff") format('woff');
}
@font-face {
  font-family: 'Phyramid Sans';
  font-weight: 200;
  src: url("/fonts/phyramidsans/PhyramidSansLight.woff") format('woff');
}
@font-face {
  font-family: 'Phyramid Sans';
  font-weight: 300;
  src: url("/fonts/phyramidsans/PhyramidSansRegular.woff") format('woff');
}
@font-face {
  font-family: 'Phyramid Sans';
  font-weight: 400;
  src: url("/fonts/phyramidsans/PhyramidSansBold.woff") format('woff');
}
.grid-container {
  margin: 0 auto;
  overflow: hidden;
}
.grid-container.grid-container--1200 {
  width: 1200px;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;
}
.grid-row.grid-row--nogutter {
  margin: 0;
}
.grid-row.grid-row--nogutter > .grid-item {
  padding: 0;
}
.grid-row.grid-row--2 > .grid-item,
.grid-row.grid-row--3 > .grid-item,
.grid-row.grid-row--4 > .grid-item {
  flex-grow: 0;
}
.grid-row.grid-row--2 > .grid-item {
  flex-basis: 50%;
  max-width: 50%;
}
.grid-row.grid-row--3 > .grid-item {
  flex-basis: 33.3%;
  max-width: 33.3%;
}
.grid-row.grid-row--4 > .grid-item {
  flex-basis: 25%;
  max-width: 25%;
}
.grid-row > .grid-item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 1rem;
}
.grid-row > .grid-item.grid-item--1 {
  flex-grow: 1;
}
.grid-row > .grid-item.grid-item--2 {
  flex-grow: 2;
}
.grid-row > .grid-item.grid-item--3 {
  flex-grow: 3;
}
.grid-row > .grid-item.grid-item--4 {
  flex-grow: 4;
}
.grid-row > .grid-item.grid-item--5 {
  flex-grow: 5;
}
.grid-row > .grid-item.grid-item--6 {
  flex-grow: 6;
}
.grid-row > .grid-item.grid-item--7 {
  flex-grow: 7;
}
.grid-row > .grid-item.grid-item--8 {
  flex-grow: 8;
}
.grid-row > .grid-item.grid-item--9 {
  flex-grow: 9;
}
.grid-row > .grid-item.grid-item--10 {
  flex-grow: 10;
}
input,
textarea,
select,
button {
  font-size: 1rem;
}
button.button,
a.button {
  display: block;
  border: 0;
  width: 100%;
  padding: 0.5rem 0.7rem;
  background: #fbfbfb;
  border: 1px solid #eee;
  text-align: center;
  text-decoration: none;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  font-family: inherit;
}
button.button.button--primary,
a.button.button--primary {
  background: #08c;
  border: 1px solid #0081c2;
  color: #fff;
}
button.button.button--primary:hover,
a.button.button--primary:hover {
  background: #0081c2;
}
button.button.button--danger,
a.button.button--danger {
  background: #c00;
  border: 1px solid #c20000;
  color: #fff;
}
button.button.button--danger:hover,
a.button.button--danger:hover {
  background: #c20000;
}
button.button.button--disabled,
a.button.button--disabled,
button.button[disabled],
a.button[disabled] {
  background: #ccc;
  border: 1px solid #c2c2c2;
  cursor: default;
  pointer-events: none;
  outline: none;
}
button.button.button--shrink,
a.button.button--shrink {
  display: inline-block;
  width: auto;
}
button.button.button--prev,
a.button.button--prev,
button.button.button--next,
a.button.button--next {
  position: relative;
}
button.button.button--prev:before,
a.button.button--prev:before,
button.button.button--next:after,
a.button.button--next:after {
  content: '';
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-style: solid;
  border-width: 0.1rem 0.1rem 0 0;
  vertical-align: -1px;
}
button.button.button--prev:before,
a.button.button--prev:before {
  transform: rotate(-135deg);
}
button.button.button--next:after,
a.button.button--next:after {
  transform: rotate(45deg);
}
button.button.button--right,
a.button.button--right {
  float: right;
}
button.button.button--lg,
a.button.button--lg {
  font-size: 1.1rem;
  padding: 0.7rem 0.9rem;
}
button.button.button--sm,
a.button.button--sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}
button.button.button--xs,
a.button.button--xs {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
}
button.button.button--tiny,
a.button.button--tiny {
  font-size: 0.6rem;
  padding: 0.1rem 0.3rem;
}
button.button.button--text,
a.button.button--text {
  padding: 0;
  padding-bottom: 0.2rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: none;
  color: #fff;
}
select.control,
input.control[type='text'],
input.control[type='tel'],
input.control[type='email'],
input.control[type='search'],
input.control[type='url'],
input.control[type='number'],
input.control[type='password'],
textarea.control {
  background: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  display: block;
  width: 100%;
  margin-bottom: 1.3rem;
  padding: 0.5rem;
  border: 1px solid #d5d5d5;
  background-color: #fbfbfb;
  font-family: inherit;
}
select.control.control--inline,
input.control[type='text'].control--inline,
input.control[type='tel'].control--inline,
input.control[type='email'].control--inline,
input.control[type='search'].control--inline,
input.control[type='url'].control--inline,
input.control[type='number'].control--inline,
input.control[type='password'].control--inline,
textarea.control.control--inline {
  display: inline-block;
  width: auto;
}
select.control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  padding-right: 2rem;
  background: url("/static/images/icons/glyphicons-602-chevron-down@0.7x.png") no-repeat 97% 50% #fbfbfb;
}
.control-container {
  margin-bottom: 1.3rem;
}
.control-container .control {
  margin-bottom: 0;
}
label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 500;
}
label.aj-radio {
  display: block;
  width: 100%;
}
label.aj-radio .feature-illustration {
  float: right;
}
@media (max-width: 767px) {
  label.aj-radio .feature-illustration {
    display: block;
    float: none;
    margin-top: 0.5rem;
  }
}
label.aj-radio .feature-illustration img {
  height: 1.5rem;
}
label .control + span {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: normal;
}
.control-group {
  display: flex;
  border: 1px solid #d5d5d5;
}
.control-group .control {
  border: 0;
}
.control-group .button {
  flex: 1;
  border: 0;
}
* {
  box-sizing: border-box;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Questa, Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: 'Phyramid Sans', 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: lowercase;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}
.hero {
  position: relative;
}
.hero .hero-scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero .hero-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(255,255,255,0.5);
  pointer-events: none;
}
.hero .hero-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  z-index: 3;
  padding: 6rem 0;
  pointer-events: none;
  text-align: center;
}
.hero .hero-main .hero-text h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 5rem;
  line-height: 0;
}
.hero .hero-main .hero-text h1 div span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  line-height: 1;
  background: #2d0f41;
  color: #fff;
}
.hero .hero-main .hero-text .hero-body {
  max-width: 35rem;
  margin: 0 auto;
}
.hero .hero-main .hero-text .hero-body p {
  margin-top: 2rem;
  margin-bottom: 0;
  color: #2d0f41;
  font-size: 1.6rem;
  text-shadow: 0px 0px 2px #fff;
}
.hero .hero-main .hero-hint {
  height: 3rem;
}
.hero .hero-main .hero-hint .hero-hint__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: transparent;
  border: 1px solid #2d0f41;
  color: #2d0f41;
  border-radius: 100%;
  font-size: 1.5rem;
}
.charts {
  padding: 8rem 0;
}
.charts .graph-tooltip {
  position: absolute;
  padding: 0.2rem 0.4rem;
  margin-top: -1.5rem;
  background: #fff;
  pointer-events: none;
  transform: translate(-50%);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
  opacity: 0;
}
.charts .chart-group {
  margin-bottom: 8rem;
}
.charts .chart-group .chart-group__description h2 {
  margin-bottom: 1rem;
}
.charts .chart-group .chart-group__chart {
  margin-top: 4rem;
}
.charts svg.chart,
.charts .chart svg {
  display: block;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 300;
}
.charts svg.chart text,
.charts .chart svg text {
  fill: #000;
  font-family: Georgia, serif;
}
.charts svg.chart svg,
.charts .chart svg svg {
  overflow: visible !important;
}
.charts svg.chart .legend text,
.charts .chart svg .legend text {
  font-size: 0.7rem;
}
.charts svg.chart .axis text,
.charts .chart svg .axis text {
  font-size: 0.7rem;
}
.charts .bar-chart .bar-group.bar-group--hidden .bar {
  cursor: default;
}
.charts .bar-chart .bar-group .bar {
  cursor: pointer;
}
.charts .bar-chart .bar-group .bar.active {
  fill: #40d689;
}
.charts .range-chart .range-node text {
  font-size: 0.7rem;
}
.charts .range-chart .axis .tick text {
  font-size: 0.8rem;
}
.charts .map-chart svg {
  height: 30rem;
}
.charts .map-chart svg [data-name='rhein'] polygon {
  fill: rgba(0,138,195,0.5);
}


/*# sourceMappingURL=app.css.map*/