@font-face
  font-family 'Questa'
  font-weight 200
  src url('/fonts/questa/2-Questa_Light.woff') format('woff')

@font-face
  font-family 'Questa'
  font-weight 200
  font-style italic
  src url('/fonts/questa/2-Questa_Light_Italic.woff') format('woff')

@font-face
  font-family 'Questa'
  font-weight 300
  src url('/fonts/questa/2-Questa_Regular.woff') format('woff')

@font-face
  font-family 'Questa'
  font-weight 300
  font-style italic
  src url('/fonts/questa/2-Questa_Regular_Italic.woff') format('woff')

@font-face
  font-family 'Questa'
  font-weight 700
  src url('/fonts/questa/2-Questa_Bold.woff') format('woff')

@font-face
  font-family 'Questa'
  font-weight 700
  font-style italic
  src url('/fonts/questa/2-Questa_Bold_Italic.woff') format('woff')

@font-face
  font-family 'Phyramid Sans'
  font-weight 200
  src url('/fonts/phyramidsans/PhyramidSansLight.woff') format('woff')

@font-face
  font-family 'Phyramid Sans'
  font-weight 300
  src url('/fonts/phyramidsans/PhyramidSansRegular.woff') format('woff')

@font-face
  font-family 'Phyramid Sans'
  font-weight 400
  src url('/fonts/phyramidsans/PhyramidSansBold.woff') format('woff')
