.hero-container
  position relative
  .hero
    width 100%
    height 100vh
  .hero-text
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    padding 8rem 0
    background rgba(255,255,255,0.4)
    pointer-events none // Allow events to pass to scene underneath
    h1
      margin 0
      margin-bottom 1rem
      font-size 5rem
      line-height 0
      div
        span
          display inline-block
          margin-bottom 1rem
          padding 0.5rem 1.5rem 1.0rem 1.5rem
          line-height 1
          background color-dark-purple
          color white
    .hero-body
      max-width 40rem
      margin-top 3rem
      p
        color color-dark-purple
        font-size 1.6rem
        text-shadow 0px 0px 2px white
