.page-overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 1000
  background rgba(0,0,0,0.3)

.popup
  z-index 1001
  display none
  &.popup--visible
    display block
  &.popup--simple
    position absolute
  &.popup--modal
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    overflow-y scroll
    .popup__container
      position relative
      z-index 1002
      width 85%
      margin 6rem auto
      .popup__dialog
        position relative
        z-index 1002
        background white
        min-height 10rem
        button.popup__close
          border none // override
          position absolute
          z-index 1003
          top 0
          right 0
          padding 2rem
          background white
          text-align center
          font-size 2rem
          line-height 0
          color #cacaca
          cursor pointer
          &:hover
            color #8e8e8e
        .popup__body
          padding 2rem
