.hero
  #hero-scene.hero-scene
  .hero-cover
  .hero-main
    .hero-text
      .grid-container
        .hero-heading
          h1
            div
              span Getting to Know
            div
              span Basel's Districts
        .hero-body
          p Explore Basel and try to uncover each district's story through interactive data visualisations.
          p If you live in Basel, we hope you'll learn something new about your city today. If not, see what picture of it you get from the comparisons below.
          .hero-body__logo
            a(href='https://www.phyramid.com')
              div Created in Basel at
              img(src='/images/phyramid.svg')
    .hero-footer
      .hero-footer__hint
        img(src='/images/downarrow.svg')
