.chart-section
  .grid-container
    .chart-group
      .chart-group__description
        h3 Age
        p Most young adults (20–39) live in Rosental, Gundeldingen, Matthäus and Altstadt Kleinbasel. Conversely, these districts are also among the least popular for residents aged 50+.
        p Riehen, Bruderholz and Bettingen, on the other hand, are more popular with older residents (50+), and teenagers (10–19).
        p A fun fact that isn't visible in the chart below: in 2016, there was #[code one] person aged 110–114 in Basel, living in Bachletten.
        p #[strong Psst…] here's an idea — find your age bracket and click it, to find out which districts it's most represented in!
      .chart-group__chart
        stack-chart(
          id='chart-age',
          xLabel='',
          yLabel='',
          :allData='allData',
          :getGraphData='ageChart.getData',
          :getKeys='ageChart.getKeys',
          :colors='ageChart.colors',
          :defaultSort='ageChart.defaultSort',
          :legendColumnLength='5',
        )
      .chart-group__sources
        | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/1-bevoelkerung/bestand-struktur.html') T01.1.22], 2016.
