.page
  .mobile-warning Please try to visit this website on a large screen. There isn't any room for graphs on a small screen, and we'd hate it if you had to miss out!

  hero

  .grid-container
    profile(
      v-if='allData',
      :allData='allData'
    )

  .charts(v-if='allData')
    .chapter-heading
      .grid-container
        h2 At a glance
        p Explore the core data that differentiates districts, such as finance, welfare and foreigners.

    #chart-foreigners
    include page__foreigners
    #chart-welfare
    include page__welfare
    #chart-finance
    include page__finance
    include page__workers

    .chapter-heading
      .grid-container
        h2 In depth
        p Explore more detailed data on citizenship, religion and age. #[br] #[strong Psst…] click the bars of stacked bar charts to focus on specific data.

    #chart-citizenship
    include page__citizenship
    #chart-religion
    include page__religion
    #chart-age
    include page__age
