.chart-section
  .grid-container
    .chart-group
      .chart-group__description
        h3 Religion
        p When comparing religions, what jumps out is the sheer number of residents describing themselves as not belonging to any religion. This number is above #[code 38%] for all districts, and more than #[code 50%] for four of the districts.
        p Protestantism is the most represented Christian religion, in contrast with the national Swiss average, where the Roman Catholic church is most represented. On the other hand, Islam is the most represented non-Christian religion.
        p On average, #[code 4.21%] prefer not to declare anything about their religion.
        p #[strong Psst…] click a religion's bar to see which districts it's most represented in.
      .chart-group__chart
        stack-chart(
          id='chart-religion',
          xLabel='',
          yLabel='',
          :allData='allData',
          :getGraphData='religionChart.getData',
          :getKeys='religionChart.getKeys',
          :colors='religionChart.colors',
          :defaultSort='religionChart.defaultSort',
          :legendColumnLength='5',
        )
      .chart-group__sources
        | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/1-bevoelkerung/religionszugehoerigkeit.html') T01.6.01], 2013.
