.chart-section
  .grid-container
    .chart-group
      .chart-group__description
        h3 Citizenship
        p This chart shows the residents of each district, split by their citizenship. Interestingly, districts with a large number of foreigners (e.g. Klybeck, Matthäus, Kleinhüningen) also have the largest spread of nationalities, with Klybeck prominently representing 6 different nationalities.
        p Riehen and Bettingen, which are right next to the German border, have by far the largest number of German foreigners. People from the UK and USA, on the other hand, more often reside in central districts such as Altstadt Grossbasel and Vorstädte.
        p #[strong Psst…] want to draw your own conclusions? Click on a certain country's bar to compare districts for that country.
      .chart-group__chart
        stack-chart(
          xLabel='',
          yLabel='',
          :allData='allData',
          :getGraphData='citizenshipChart.getData',
          :getKeys='citizenshipChart.getKeys',
          :colors='citizenshipChart.colors',
        )
      .chart-group__sources
        | #[strong Source:] Statistisches Amt Basel-Stadt, #[a(href='http://www.statistik.bs.ch/zahlen/tabellen/1-bevoelkerung/bestand-struktur.html') T01.1.23], 2016.
