.page
  hero

  .grid-container
    profile(
      v-if='allData',
      :allData='allData'
    )

  .charts(v-if='allData')
    .chapter-heading
      .grid-container
        h2 At a glance

    include page__foreigners
    include page__welfare
    include page__finance
    include page__workers

    .chapter-heading
      .grid-container
        h2 In depth

    include page__citizenship
    include page__religion
    include page__age
