@import 'responsive'
@import 'colors'

*
  box-sizing border-box

.clearfix:after
  content " "
  display block
  clear both

html, body
  margin 0
  padding 0
  font-family Questa, Georgia, serif
  font-size 16px
  line-height 1.5
  color #222
  button
    font-family Questa, Georgia, serif

h1, h2, h3, h4, h5, h6
  margin-top 0
  font-family 'Phyramid Sans', 'Helvetica Neue', Helvetica, sans-serif
  text-transform lowercase
  font-weight 400

h1
  font-size 3rem
h2
  font-size 2.5rem
h3
  font-size 2rem
h4
  font-size 1.5rem
h5
  font-size 1.2rem
h6
  font-size 1rem

p
  margin-top 0
  margin-bottom 1rem
  &:last-child
    margin-bottom 0

canvas
  display block

.grid-container
  margin 0 auto
  width 1200px
  max-width 100%

.grid
  display grid
  grid-gap 4rem
  grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
  &.grid--tight
    grid-gap 1rem

