extends /includes/layout

block content
  page

block prescripts
  script#component-template--hero(type='text/x-template')
    include /includes/components/hero
  script#component-template--range-chart(type='text/x-template')
    include /includes/components/range-chart
  script#component-template--bar-chart(type='text/x-template')
    include /includes/components/bar-chart
  script#component-template--stack-chart(type='text/x-template')
    include /includes/components/stack-chart
  script#component-template--map-chart(type='text/x-template')
    include /includes/components/map-chart
  script#component-template--profile(type='text/x-template')
    include /includes/components/profile
  script#component-template--page(type='text/x-template')
    include /includes/components/page
