extends /includes/layout

block content
  .plain-header
    .plain-header__back
      a(href='/') &larr; Back to the data.
    h1 Privacy Policy

  .plain-content.privacy-policy
    .grid-container
      p We respect the privacy of our visitors. We collect only personal information that is needed to provide the information, service, or assistance that you request.

      h2 Information We Collect Automatically

      p Your web browser automatically sends us (and we may retain) information such as the:

      ul
        li Internet Protocol address of the computer you are using;
        li type of browser software and operating system you are using;
        li date and time you access our site; and
        li the Internet address of the site from which you linked directly to our site.

      p We will use this information as aggregate data to help us maintain this site, e.g., to determine the number of visitors to different sections of our site, to ensure the site is working properly, and to help us make our site more accessible and useful.

      p We will not use this information to identify individuals.

      p We will not obtain personally-identifying information about you when you visit our site, unless you choose to provide such information.

      h2 How Long We Keep Information

      p We may keep information that we collect for an unlimited period of time.

      h2 Cookies

      p We may use cookies in order to recognise return visitors. These cookies are not required for site functionality. You are not required to accept any cookies to use this site.

      h2 Google Analytics

      p We use a tool called “Google Analytics” to collect information about use of this site. Google Analytics collects information such as how often users visit this site, what pages they visit when they do so, and what other sites they used prior to coming to this site. We use the information we get from Google Analytics only to improve this site. Google Analytics collects only the IP address assigned to you on the date you visit this site, rather than your name or other identifying information. We do not combine the information collected through the use of Google Analytics with personally identifiable information. Although Google Analytics plants a permanent cookie on your web browser to identify you as a unique user the next time you visit this site, the cookie cannot be used by anyone but Google. Google's ability to use and share information collected by Google Analytics about your visits to this site is restricted by the #[a(href='http://www.google.com/analytics/tos.html') Google Analytics Terms of Use] and the #[a(href='http://www.google.com/privacypolicy.html') Google Privacy Policy]. You can prevent Google Analytics from recognizing you on return visits to this site by disabling cookies in your browser.
